@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kurale" , sans-serif;
}


:root {
  --color-primary: #00e0ff;
  --color-secondary: #fffbf4;
  --color-black: black;

}





